.content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 1120px;
    display: flex;
    justify-content: flex-start;
    margin: 32px 0px 72px;
}

.text {
    width: 335px;
    font-size: 16px;
    font-weight: 400;
    margin: 0px 0px 40px;
}

.registration-text-container {
    padding: 40px;
    border: 1px solid #DADADA;
    margin-bottom: 152px;
}

.button-primary {
    width: 546px;
}

.registration-text {
    width: 546px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email {
    font-weight: 700;
}

.check-email {
    margin: 0px;
}